<div class="header chat-list-header">
  <div class="avatar" (click)="showAvatarClicked()"><img class="avatar" src="../../../../assets/whats-profile-iarly.jpg"></div>
  <h4>Encaixe Logo</h4>
  <div class="header-options">
    <mat-icon>home</mat-icon>
  </div>
</div>
<div class="chat-list">
  <ng-container *ngFor="let chat of chatData let first = first">
  <single-chat [first]="first" (showContactConversationEmitter)="showContactConversation($event);" class="chat" [infos]="chat" (showContactProfile)="contactAvatarClicked($event)"></single-chat>
</ng-container>
</div>
