
@import '../../../../theme.scss';

$app-primary: map-get($app-theme, primary);

.header {
  padding: 10px;
  height: 70px;
  width: 100%;
  background-color: mat-color($app-primary);
  box-shadow: 0 0 4px 0 grey;
}

.chat-window-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: mat-color($app-primary);
  overflow: hidden;
  z-index: 1;
}

.header-options {
  color: mat-color($app-primary);
  cursor: pointer;
}

.chat-message-container {
  background-image: url("../../../../assets/whats-app-background.png");;
  flex: 1;
  padding: 0 15px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.header-chat {
  display: block;
  /*background-color: #00acc1;*/
  width: 100%;
}

.chat-message-container::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.chat-message-container::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

.chat-message-container::-webkit-scrollbar-thumb
{
  background-color: #bbb;
}
