<div class="header chat-window-header">
  <single-chat [header]="true" [infos]="conversationData" class="header-chat"></single-chat>
  <div class="header-options" (click)="btnOptionsClicked()">
    <mat-icon>menu</mat-icon>
  </div>
</div>
<div class="chat-message-container">
  <simple-msg [isSent]="true" [message]="'Olá, como posso te ajudar?
Digite 1 -  LISTAR CONVÊNIOS
Digite 2 - AGENDAR ONLINE
Digite 3 - ATENDIMENTO
Digite 4 - LOCALIZAÇÃO'"></simple-msg>
  <simple-msg [isSent]="false" [message]="'2'"></simple-msg>
  <simple-msg [isSent]="true" [message]="'Agendar novo horário: 
http://encaixe.online/nomefantasia/'"></simple-msg>
  <simple-msg [isSent]="false" [message]="'Obrigado'"></simple-msg>
  <simple-msg [isSent]="false" [message]="'3'"></simple-msg>
  <simple-msg [isSent]="true" [message]="'Em instantes você será atendido.'"></simple-msg>
  <simple-msg [isSent]="true" [message]="'Olá, bom dia!'"></simple-msg>
  <simple-msg [isSent]="false" [message]="'Bom dia'"></simple-msg>
</div>
